.super_links_msg {
  display: none;
	position: fixed;
	border: 2px solid #000;
	border-radius: 2px;
	width: 200px;
	height: 40px;
	top:4px;
	left: 4px;
	background: khaki;
	color: black;
 	z-index: 2147483647;
	padding: 10px 10px 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
}


.super_links_popup {
	position: absolute;
  display: none;
	border: 2px solid #000;
	border-radius: 10px;
	width: 755px;
	height: 190px;
	background: #fff;
	color: black;
 	z-index: 2147483647;
	padding: 32px 20px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.super_links_popup-content {
	width: 750px;
	height: 200px;
	overflow-y: auto;
}


a.super_link_mark {
  color: green;
  background: yellow;
}


.super_links_popup_close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	top:4px;
	right: 4px;
	width: 24px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.super_links_popup_close:hover { background: #00d9ff; }


/**
.close:hover,
.close:focus {
    background: #00d9ff;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
**/


table.super_links_table a { color: blue; text-decoration:underline; }
table.super_links_table a:link { color: blue; }
table.super_links_table a:visited { color: purple; }
table.super_links_table a:hover  { color: blue; }
table.super_links_table a:active { color: blue; }

/**
   #link_bar a:link { color:#d0d0d0; background-color:#0000a0; }
    #link_bar a:visited { color:#c0c0c0; background-color:#0000a0; }
    #link_bar a:hover { color:#ffffff; background-color:#000060; }
    #link_bar a:active { color:#f0f0f0; background-color:#00ff00; }
**/


/*table headers*/
table.super_links_table > thead > tr > th,
table.super_links_table > thead > tr > td {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}


/* Sparql table css based on Bootstrap */
table.super_links_table
{
  background-color: transparent;
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-spacing: 0;
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 14px;
  color: #444;
}

table.super_links_table th,
table.super_links_table td {
  padding: 4px 5px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
table.super_links_table th {
  font-weight: bold;
}
table.super_links_table tr:hover > td,
table.super_links_table tr:hover > th {
  background-color: #fbf8e9;
/*  background-color: #f5f5f5;*/
}
table.super_links_table tbody:first-child tr:first-child th,
table.super_links_table tbody:first-child tr:first-child td {
  border-top: 0;
}
table.super_links_table tbody:first-child tr:first-child > td:first-child,
table.super_links_table tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
table.super_links_table tbody:first-child tr:first-child > td:last-child,
table.super_links_table tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
table.super_links_table tbody:last-child tr:last-child > td:first-child,
table.super_links_table tbody:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
table.super_links_table tbody:last-child tr:last-child > td:last-child,
table.super_links_table tbody:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
