.super_links_msg {
        all: initial;
	display: none;
	line-height: normal;
	flex-direction: row; 
	position: fixed;
	border: 2px solid #000;
	border-radius: 2px;
	width: 200px;
	height: 20px;
	top:4px;
	left: 4px;
	background: khaki;
	color: black;
 	z-index: 2147483647;
	padding: 10px 10px 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.super_links_img {
	width: 16px;
	height: 16px;
}


.super_links_popup {
        all: initial;
	position: absolute;
	display: none;
	border: 2px solid #000;
	border-radius: 4px; 
	width: 910px;
	height: 305px;
	background: #fff;
	color: black;
 	z-index: 2147483647;
        marging: 2px;
        marging-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
}
.super_links_popup-title {
	width: 100%;
	height: 18px;
	background-color: #0000a0;
	color: white;
	border-bottom: 1px solid #000;
	position: relative;
	cursor: move;
        font-size: 14px;
}
.super_links_popup-content {
	width: 100%;
	height: calc(100% - 10px - 16px - 6px);
	overflow: auto;
}


a.super_link_mark {
  color: green;
  background: yellow;
}


.super_links_popup_close {
	background: #606061;
	color: #FFFFFF;
	line-height: 20px;
	position: absolute;
	top:-3px;
	right: -3px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.super_links_popup_close:hover { background: #00d9ff; }

table.super_links_table a { color: blue; text-decoration:underline; }
table.super_links_table a:link { color: blue; }
table.super_links_table a:visited { color: purple; }
table.super_links_table a:hover  { color: blue; }
table.super_links_table a:active { color: blue; }


table.super_links_table {
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 13px;
  min-width: 100%;
  width: auto;
  flex: 1;
  display: grid;
  border-collapse: collapse;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns: 
    minmax(100px, 1.5fr)
    minmax(100px, 2.5fr)
    minmax(100px, 4fr)
    minmax(100px, 2fr);
}

table.super_links_table thead,
table.super_links_table tbody,
table.super_links_table tr {
  display: contents;
}

table.super_links_table th,
table.super_links_table td {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

table.super_links_table th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: bold;
  color: white;
}


.super_links_table-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  width: 3px;
  cursor: col-resize;
}

.super_links_table-resize-handle:hover,
/* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
.super_links_table-header--being-resized .super_links_table-resize-handle {
  opacity: 0.5;
}

.super_links_popup-resizer {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 1px;
  bottom: 1px;
  cursor: se-resize;
}

table.super_links_table th:hover .super_links_table-resize-handle {
  opacity: 0.3;
}

table.super_links_table td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

table.super_links_table tr:nth-child(even) td {
  background: #f8f6ff;
}

